In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

URL = "https://www.worldometers.info/coronavirus/"

# Send a GET request to the URL
response = requests.get(URL)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

# Find the table containing the COVID-19 data
table = soup.find("table", attrs={"id": "main_table_countries_today"})

# Extract the table headers
headers = []

for th in table.find_all("th"):
    headers.append(th.text.strip())

# Extract the table rows
rows = []
for tr in table.tbody.find_all("tr"):
    row = []
    for td in tr.find_all("td"):
        row.append(td.text.strip())
    rows.append(row)

# Create a Pandas DataFrame from the data
df = pd.DataFrame(rows, columns=headers)
df.drop(columns=['#'], inplace=True)
df.to_csv("Covid 19 Countries Table.csv", index=False)
df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,...,TotalTests,Tests/\n1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,North America,"126,820,543",,"1,635,326",,"122,768,526","+4,090","2,416,691","6,014",,...,,,,North America,,,,,,
1,Asia,"217,732,184",+13,"1,547,000",,"201,442,382","+21,846","14,742,802","15,234",,...,,,,Asia,,,,,,
2,Europe,"249,537,713",,"2,063,816",,"245,541,763","+2,699","1,932,134","5,638",,...,,,,Europe,,,,,,
3,South America,"68,766,587",,"1,356,746",,"66,479,039",,"930,802","10,104",,...,,,,South America,,,,,,
4,Oceania,"14,458,069",,"28,511",,"14,291,243",,"138,315",99,,...,,,,Australia/Oceania,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Vatican City,29,,,,29,,0,,"36,295",...,,,799,Europe,28,,,,,
235,Western Sahara,10,,1,,9,,0,,16,...,,,"626,161",Africa,"62,616","626,161",,,,
236,MS Zaandam,9,,2,,7,,0,,,...,,,,,,,,,,
237,Tokelau,5,,,,,,5,,"3,628",...,,,"1,378",Australia/Oceania,276,,,,,"3,628"
238,China,"503,302",,"5,272",,"379,053",,"118,977",N/A,347,...,"160,000,000","110,461","1,448,471,400",Asia,"2,878","274,748",9,,,82